<!DOCTYPE html>
<html lang="<%= lang %>">
	<head>
		<title><%= page_title %></title>
		[%= stylesheet_link_tag "main.css" %]
		[%= requirejs_include_tag "require.js", "main.js" %]
	</head>
	<body>
		<% if page_user %>
			Hello, <% user.name %>!
			<% image_tag "user.png" %>
			You have [%= config "defaults.websites.count" %] websites
			This is [ plain|old|localization ] plain old localization
		<% else %>
			You need to sign in!
			[%= include "sign_in_form" %]
		<% end %>

		<div id="some_snippet">
			[%= include_html_escape "some_snippet" %]
		</div>
	</body>
</html>